

@media only screen and (min-width: 992px) {
  .plants_bg{

      background-image: url('../../assets/plants_bg.png');
      background-repeat: no-repeat;
      background-size: 100%;
  }
}
@media only screen and (min-width: 1200px) {

  .plants_bg{
    background-color: yellow;
  }
}

.plants_bg .text{
  color: black;

}
