
@media only screen and (min-width: 992px) {
  .bg_make{
    background-image: url('../../assets/make/bg_make.jpg');
    background-repeat: no-repeat;
    background-size: auto 1900px;
  }
}

#thousand{
  filter: blur(4px);
  -webkit-filter: blur(4px);
}


    .box{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
    }
    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 60%; /* Set the width of the positioned div */

        color: white;
        text-shadow: 0 0 10px black;
    }

    .text h4{font-weight: bold;}
