



.text_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing .col-xl{
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.landing a{
  color: black;
}
