.hr_bg{
  background-image: url('../assets/Grow_Different/plant_bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: calc(70%);

  margin-top: 0;
}

.title{
  margin-top: 10%;
  height: 500px;
}



.landing .col-md{
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.mission .col-md{
  display: flex;
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.value_chain a{
  padding: 0;
}
#un{
  text-decoration: underline;
}
#un:hover{
  color: black;
}
.arrow{
  width: 4% ;
}

.landing_mission{
  font-size: 42pt;
  line-height: 62pt;
}
