a:hover{
    font-weight: bold;
  }
#navbarNavDropdown{
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 5%;
}
a{
  margin-left: 50px;
  padding: 10px;
}
nav{
  height: 200px;
}

.submenu{
  display:flex;
  list-style: none;
  flex-direction: row;
}
