
@media only screen and (min-width: 992px) {

  .grow_bacteria .bg{
      background-image: url('../../assets/grow/bg_bacteria_2.jpg');
      background-repeat: no-repeat;
      background-position: right top;
      background-size: 50vw auto;

    }
}
