.timeline {
    border-right: 5px solid #433166;
    padding: 50px;
    padding-top: 0px;
    margin-right: 100px;
}

.timeline .date{
  font-weight: bolder;
  line-height: 1.5rem;
  position: relative;
  top: 103px;
  right: -36vw;
}

.timeline .event {
    position: relative;
    width: 100%;
}

.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
  -webkit-box-shadow: 0 0 0 5px #433166;
  right: -60px;
  background: #fff;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  content: "";
  top: 120px;
}

@media only screen and (max-width: 992px) {
  .timeline .date{
    top: 5px;
    margin-top: 30px;
    right: -25vw;
  }
}

@media only screen and (max-width: 576px) {
  .timeline .date{
    top: 5px;
    margin-top: 30px;
    right: -25vw;
  }
  .timeline {
      margin-right: 30px;
  }
}
