li{
  display: inline-block;
}
ul{
  margin-left: auto;
}
a{
  text-decoration: none;
}
.dropdown .main_item{
  color: black;
  font-size: 16pt;
  margin-left: 40px;
  margin-right: 40px;
  color: black;
}
a:hover{
  text-align: center;
  text-decoration: none;
}

.n_solve,.n_grow,.n_mission,.n_work{
  color: black;
}

.n_solve:hover{ color: #CF4C43;}
.n_grow:hover{ color: #238223;}
.n_mission:hover{ color: #542D2F; }
.n_work:hover{ color: #433166; }



.mydropdowncss:hover .dropdown-menu {
  display:flex;
    margin-top: 0;
    border: 0;
 }
 .ddm-1 a{
   margin: 40px;
 }
 .ddm-2 a{
   margin: 18px;
 }
 .ddm-3 a{
   margin: 20px;
 }

.navbar{
  margin-left: 104px;
  margin-right: 104px;
  margin-top: 52px;
  margin-bottom: 156px;
}
