li{
  display: inline-block;
}
ul{
  margin-left: auto;
}
.dropdown a{
  margin-left: 50px;
  margin-right: 50px;
  color: black;
}
a:hover{
  color: black;
  text-align: center;
  text-decoration: none;
}

.btn{
  padding:0;
}

.mydropdowncss:hover .dropdown-menu {
  display:flex;
    margin-top: 0;
    border: 0;
 }
 .ddm-1 a{
   margin: 40px;
 }
 .ddm-2 a{
   margin: 12px;
 }
 .ddm-3 a{
   margin: 30px;
 }

.navbar{
  margin-left: 104px;
  margin-right: 104px;
  margin-top: 52px;
  margin-bottom: 156px;
}
