a{
  text-decoration: none;
  color: black;
}
a:hover{ text-decoration: none; }

#basic-navbar-nav{
  justify-content: right;
}
.nav-item-div{
  color: black;
  font-size: 16pt;
  padding-left: 50px;
  padding-right: 0px;
}
.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.dd-1, .dd-2, .dd-3, .dd-4, .dd-5, .dd-6, .dd-7{ display: none; }

@media only screen and (min-width: 1200px) {
  .dd-1{ margin-right: 65px;}
  .n_solve:hover .dd{ display: block; position: absolute; top: 65px; }
  .n_solve:hover .dd-2{right: 465px;}
  .dd-1:hover { color: #CF4C43; }
  .dd-2:hover { color: #CF4C43; }
  .dd-1-a{ display: block; position: absolute; top: 65px; border-bottom: 3px solid #CF4C43; }
  .dd-2-a{ display: block; position: absolute; top: 65px; right: 465px; border-bottom: 3px solid #CF4C43; }

  .n_grow:hover .dd{ display: block; position: absolute; top: 65px; }
  .n_grow:hover .dd-3{right: 380px;}
  .n_grow:hover .dd-4{right: 320px;}
  .n_grow:hover .dd-5{right: 235px;}
  .dd-3:hover { color: #238223; }
  .dd-4:hover { color: #238223; }
  .dd-5:hover { color: #238223; }
  .dd-3-a{ display: block; position: absolute; top: 65px; right: 380px; border-bottom: 3px solid #238223; }
  .dd-4-a{ display: block; position: absolute; top: 65px; right: 320px; border-bottom: 3px solid #238223; }
  .dd-5-a{ display: block; position: absolute; top: 65px; right: 235px; border-bottom: 3px solid #238223; }

  .n_work:hover .dd{ display: block; position: absolute; top: 65px; }
  .n_work:hover .dd-6{right: 130px;}
  .n_work:hover .dd-7{right: 50px;}
  .dd-6:hover { color: #433166; }
  .dd-7:hover { color: #433166; }
  .dd-6-a{ display: block; position: absolute; top: 65px; right: 130px; border-bottom: 3px solid #433166; }
  .dd-7-a{ display: block; position: absolute; top: 65px; right: 50px; border-bottom: 3px solid #433166; }
}


.n_solve:hover .main_item{ color: #CF4C43; }
.n_grow:hover .main_item{ color: #238223; }
.n_mission:hover .main_item{ color: #542D2F; }
.n_work:hover .main_item{ color: #433166; }
