.pointer:hover{cursor: pointer;}
@font-face{
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Light.ttf');
  font-weight: lighter;
}
@font-face{
    font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Bold.ttf');
  font-weight: bolder;
}
@font-face{
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Black.ttf');
  font-weight: bold;
}

.btn-primary{
  color: white !important;
  border-radius: 25px;
  text-align: center;
}
.btn-primary:hover{
  opacity: 0.5;
}

a{ color: black; }
a:hover{ color: black; }


h1, h3, h4, p{
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1{font-size: 48pt !important; line-height: 48pt !important;}
}

h1{ font-size: 48pt; }
.h1{ font-size: 40pt; } /*Work_with_us title for mobile so it doens't hang off the page*/

p{ font-size: 18pt; font-weight: lighter; }
h3{ font-size: 36pt; font-weight: lighter; }
h4{ font-size: 22pt; font-weight: lighter; }
h5{ font-size: 18pt; font-weight: lighter; }

hr{
  opacity: 1;
  border-top: 2px solid;
  width: 50%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.red{ color: #CF4C43; }
.green{ color: #238223; }
.brown{ color: #542D2F; }
.purple{ color: #433166; }
.grey{ color: #657073; }

.my-10{
  margin-top: 15%;
  margin-bottom: 15%;
}
.mt-10{ margin-top: 15%; }
.mb-10{ margin-bottom: 20%; }
.mb-10{ margin-bottom: 20%; }

.mt-nav { margin-top: 7%; }
.mb-7 { margin-bottom: 12%}

.text_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
