@font-face{
  font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Light.ttf');
  font-weight: lighter;
}

@font-face{
    font-family: 'Poppins';
  src: url('./assets/Poppins/Poppins-Bold.ttf');
  font-weight: bolder;
}

.btn-primary{
  color: white !important;
  background-color: #433166;
  border-radius: 25px;
  text-align: center;
}
.btn-primary:hover{
  background-color: #433166;
  opacity: 0.5;
}

h1{
  font-size: 48pt;
}

p{
  font-size: 18pt;
  font-weight: lighter;
}

h1, h3, h4, p{
  text-align: center;
}
h3{
  font-size: 36pt;
  font-weight: lighter;
}

.red{ color: #CF4C43; }
.green{ color: #238223; }
.brown{ color: #542D2F; }
.purple{ color: #433166; }

.my-10{
  margin-top: 20%;
  margin-bottom: 20%;
}
.mt-10{
  margin-top: 20%;
}
.mb-10{
  margin-bottom: 20%;
}
